# Todo Start
# RewriteEngine On
# RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
# RewriteRule ^ /%1 [NC,L,R]
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.*)$ $1.php [NC,L] 
# Todo End
